/*
 * Description: The main stylesheet for this project
 * Author: Jeffery Tang
 */
/***** Prefixes *****/
.flexbox, header, main, footer, #settings, #countBoxes, #buttons {
    display: -webkit-flex;
    display: flex;
}

/***** Variables *****/
.fullSize, html, body {
    width: 100%;
    height: 100%;
}

/***** General Properties *****/
* {
    box-sizing: border-box;
}

html, body {
    min-height: 530px;
    min-width: 820px;
    max-height: 2160px;
}

header, main, footer {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}

/***** Header Properties *****/
header {
    height: 12.5%;
    font-size: 1.43rem;
    text-shadow: 0px 0.5px 1px #aaa, 0px 0.5px 1px #aaa;
}

header > h2 {
    font-weight: 400;
}

/***** Main Properties *****/
main {
    height: 80%;
}

#settings {
    height: 10%;
    width: 100%;
    justify-content: center;
}

#settings div, #settings input {
    float: left;
}

.setting {
    height: 40px;
    margin-right: 2%;
}

.setting > div, .setting > input, #magnifyIcon, #countBoxes {
    height: 100%;
    line-height: 40px;
    font-size: 1.14rem;
    background-color: #e8e8e8;
    box-shadow: 0px 1px 2px #aaa, 0px 1px 2px #aaa;
    text-align: center;
}

#color {
    width: 300px;
    text-transform: capitalize;
}

#color > div {
    width: 40%;
}

#color > input {
    width: 10%;
    border: 0;
}

#borderWidth {
    width: 150px;
}

#borderWidth > div {
    width: 50%;
}

#dragClick {
    width: 250px;
}

#dragClick > div {
    width: 50%;
}

#magnifyIcon, #countBoxes {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 0;
}

#magnifyIcon {
    background: #e8e8e8 url("../magnifier.png") 8px 8px/24px 24px no-repeat;
    -webkit-filter: invert(0);
    filter: invert(0);
    transition: 0.15s ease-out;
}

.magnifyIcon {
    -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important;
    background-color: #e95f7a !important;
    transition: 0.15s ease-out;
}

#countBoxes {
    -webkit-justify-content: center;
    justify-content: center;
}

#person, #drag, #onePX {
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

#color2, #clickAndDrag, #twoPX {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

#person, #black, #twoPX, #drag {
    background-color: #16a085;
    color: white;
}

.magnify-lens section {
    width: 50%;
    height: 50%;
    float: left;
}

.magnify-lens section:nth-child(1) {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.magnify-lens section:nth-child(2) {
    border-bottom: 1px solid black;
}

.magnify-lens section:nth-child(3) {
    border-right: 1px solid black;
}

#image {
    height: 80%;
}

#image img {
    box-shadow: 0px 1px 2px #aaa, 0px 1px 2px #aaa;
    transition: box-shadow 0.15s ease-out;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-drag: none;
    -moz-user-drag: none;
    -webkit-user-drag: none;
    user-drag: none;
}

#image > img {
    height: 100%;
}

#image p {
    margin-top: -16px;
    font-size: 0.75rem;
}

#image > .box {
    border-style: solid;
    position: absolute;
    cursor: pointer;
}

#image > .box:active {
    cursor: move;
}

#buttons {
    height: 10%;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 0.6%;
}

#buttons > input {
    border: 0;
    background-color: #e8e8e8;
    height: 40px;
    border-radius: 5%;
    padding: 0.5% 1%;
    margin: 0 1%;
    text-transform: capitalize;
    font-size: 1.14rem;
    box-shadow: 0px 1px 2px #aaa, 0px 1px 2px #aaa;
    transition: background-color 0.15s ease-out;
}

#buttons > input:hover {
    background-color: #d5d5d5;
    transition: background-color 0.15s ease-out;
}

#buttons > input:active {
    background-color: #c2c2c2;
    transition: background-color 0.15s ease-out;
}

/***** Footer Properties *****/
footer {
    height: 7.5%;
}
